# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/

# Django
*.log
media/
staticfiles/

# Environment variables
.env
uploads/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
